/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font-family-main), sans-serif;
  font-size: 18px;
  font-weight: var(--font-weight-basic);
  background-image: var(--background-gradient);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding-left: var(--padding-page-left-right);
  padding-right: var(--padding-page-left-right);
}

.header {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  border: var(--border);
  background-color: #ffffff;
  padding-top: var(--padding-header-top-bottom);
  padding-bottom: var(--padding-header-top-bottom);
  min-inline-size: 100%;
  margin-top: 100px;
  margin-bottom: 100px;
}

.header__title {
  font-family: var(--font-family-accent), fantasy;
  font-size: var(--header-title-font-size);
  font-weight: 400;
}

.header__text {
  font-family: var(--font-family-accent), fantasy;
  font-size: var(--header-text-font-size);
  font-weight: 400;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.card {
  display: flex;
  flex-direction: column;
  border: var(--border);
  background-color: #ffffff;
}

.card-size {
  min-inline-size: clamp(23.1875rem, 16.0352rem + 30.5164vw, 43.5rem);
}

.card__title {
  font-family: var(--font-family-main), sans-serif;
  font-variation-settings: 'wght' var(--font-weight-header);
  font-size: 18px;
  line-height: 1.2;
  justify-self: start;
  padding: 4px 10px;
}

.card__container_img {
  position: relative;
  border-block-start: var(--border);
  border-block-end: var(--border);
}

.card__img {
  display: block;
  max-block-size: 696px;
  object-fit: cover;
  object-position: bottom;
  inline-size: 100%;
}

.filter-contrast {
  filter: contrast(50%);
}

.filter-opacity {
  filter: opacity(0.6);
}

.filter-grayscale {
  filter: grayscale(0.8);
}

.filter-saturate {
  filter: saturate(158%);
}

.filter-sepia {
  filter: sepia(80%);
}

.filter-invert {
  filter: invert(0.7);
}

.filter-drop-shadow {
  filter: drop-shadow(5px 15px 3px rgba(0, 0, 0, 0.8));
}

.card__label {
  position: absolute;
  top: 25px;
  right: clamp(0.8125rem, 0.5484rem + 1.1268vw, 1.5625rem);
  font-family: var(--font-family-accent), sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  mix-blend-mode: hard-light;
  opacity: 0.5;
  text-shadow:
    -1px -1px 0 var(--text-shadow-color),
    1px -1px 0 var(--text-shadow-color),
    -1px 1px 0 var(--text-shadow-color),
    1px 1px 0 var(--text-shadow-color);
}

.label_transform {
  text-transform: lowercase;
}

.card__container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px;
}

.card__container_text {
  display: flex;
  flex-direction: column;
  gap: 27px;
}

.card__text {
  font-family: var(--font-family-main), sans-serif;
  font-size: var(--font-weight-basic);
}

.card__button_container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 3px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #ffffff;
  border: var(--border);
  transition: box-shadow 0.3s ease;
  color: #ffffff;
}

.card__icon-button {
  justify-self: center;
  align-self: center;
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
  padding: 0;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: #000;
}

.card__like-button {
  padding: 12px 37px;
  max-inline-size: 130px;
  align-self: flex-start;
  justify-self: center;
}

.card__icon-button .main-body {
  fill: var(--main-body-color);
  transition: fill 0.3s ease;
}

.card__icon-button .core {
  fill: var(--core-color);
  transition: fill 0.3s ease 0.03s;
}

.card__icon-button:hover .core {
  --core-color: #000;
  transition: fill 0.3s ease;
}

.card__icon-button:hover .main-body {
  --main-body-color: #000;
  transition: fill 0.3s ease 0.05s;
}

.card__icon-button:active .core {
  --core-color: var(--animation-fill-color);
  transition: fill 0.3s ease;
}

.card__icon-button:active .main-body {
  --main-body-color: var(--animation-fill-color);
  transition: fill 0.3s ease 0.05s;
}

.heart {
  transition: transform 0.3s ease-in;
}

.sparks {
  opacity: 0;
  transition: opacity 0.3s ease-in;
}

.like-icon:not(.is-liked) .contour {
  fill: var(--contour-color);
  transition: fill 0.1s linear;
}

.like-icon.is-liked .core {
  --core-color: red;
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  --main-body-color: red;
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .contour {
  --contour-color: red;
  transition: fill 0.3s 0.06s linear;
}

.like-icon.is-liked .heart {
  animation: scaleHeart 0.3s ease-in 0.1s;
  animation-delay: 0.1s;
  transform-origin: center center;
}

.like-icon.is-liked .sparks {
  animation: sparkle 0.6s ease-in 0.3s;
  animation-delay: 0.4s;
  transform-origin: center;
}

.button__text {
  position: relative;
  mix-blend-mode: difference;
  font-family: var(--font-family-accent), fantasy;
  font-weight: 400;
  font-size: 14px;
  line-height: 90%;
  z-index: 2;
}

.card__like-button:hover::after {
  transform: scaleX(1);
}

.card__like-button:focus-visible {
  outline: none;
  box-shadow: 2px 2px 0px 0px #000;
}

.button_save {
  padding-top: 15px;
  padding-bottom: 15px;
}

.button::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
  z-index: 1;
}

.button_save__container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
  justify-self: center;
  z-index: 2;
  position: relative;
  mix-blend-mode: difference;
}

.button_save:hover::after {
  transform: scaleX(1);
}

.button_save_size {
  margin-top: 50px;
  margin-bottom: 100px;
  inline-size: clamp(19.125rem, 18.4868rem + 2.723vw, 20.9375rem);
}

.button_save__img {
  width: clamp(2.0625rem + -1.3333vw, 1.75rem, 1.3125rem);
  height: clamp(2.0625rem + -1.3333vw, 1.75rem, 1.3125rem);
  fill: #ffffff;
}

.dialog {
  grid-template-columns: 1fr 6fr;
  row-gap: 30px;
  column-gap: 20px;
  align-items: center;
  inline-size: clamp(21.1875rem, 20.9234rem + 1.1268vw, 21.9375rem);
  background-color: #ffffff;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: clamp(2.4665rem + -0.6573vw, 2.3125rem, 1.875rem);
  padding-right: clamp(2.4665rem + -0.6573vw, 2.3125rem, 1.875rem);
  border: var(--border);
  margin-left: clamp(1.0625rem, -10.5242rem + 49.4366vw, 33.96875rem);
  margin-right: clamp(1.0625rem, -10.5242rem + 49.4366vw, 33.96875rem);
}

.dialog[open] {
  display: grid;
}

.dialog[open]::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

.img_container {
  width: 39px;
  height: 39px;
  grid-row: 1;
  grid-column: 1 /2;
}

.dialog__img {
  width: 39px;
  height: 39px;
}

.dialog__title {
  font-family: var(--font-family-accent), fantasy;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  grid-row: 1;
  grid-column: 2 / 3;
  text-transform: uppercase;
  justify-self: end;
}

.dialog__button {
  grid-row: 2;
  grid-column: 1/3;
  padding: 9px clamp(7.15625rem, 6.7667rem + 1.662vw, 8.2625rem);
  font-family: var(--font-family-accent), fantasy;
  font-size: 14px;
  text-transform: uppercase;
  color: #000;
}

@supports (text-stroke: 1px var(--text-shadow-color)) {
  .card__label {
    text-shadow: none;
    text-stroke: 1px var(--text-shadow-color);
  }
}

@media (width >= 1440px) {
  .button_save__container {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}

@media (width <= 375px) {
  .card__container_img {
    min-block-size: 100vw;
  }
}

@supports (font-variation-settings: normal) {
  .page {
    font-variation-settings: 'wght' var(--font-weight-basic);
  }
}
